doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Sign-in | Socians
        link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous")

    body.bg-light 
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Socians<sup>&reg;</sup></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" id="newadd1" aria-current="page" href="#">Code</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Menu</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item disabled" href="#">Under Construction</a></li>
                                <li>
                                    <hr class="dropdown-divider disabled">
                                </li>
                                <li><a class="dropdown-item active" href="/rate">Rate Us</a></li>
                            </ul>
                        </li>
                    </ul>   
                </div>
            </div>
        </nav>
        h1.text-center.my-5.text-lg.text-bold User sign-in 
        <form action="/user/create-session" method="post" class="mx-auto my-auto text-center">
            <label style="font-size:xx-large; margin-right: 4.7%; text-align: left;">Email</label>
            <input type="text" style=" border:2px solid black; outline:none" class="btn-outline-light text-dark my-3 btn-lg w-25" name="email"><br>
            <label style="font-size:xx-large; margin-right: 1%; text-align: left;">Password</label>
            <input style=" border:2px solid black; outline:none"  type="password" class="btn-outline-light text-dark my-3 btn-lg w-25" name="password"><br>
            <button class="btn btn-outline-dark m-auto my-3 btn-lg w-50" type="submit">Sign-in</button>
        div.text-center 
            <button class="btn btn-outline-danger my-3 btn-lg w-25 disabled">Google</button>
            <button class="btn btn-outline-primary my-3 btn-lg w-25 disabled">Linkedin</button>
            <br><button class="btn btn-outline-primary my-3 btn-lg w-25 disabled">fb</button>
            <button class="btn btn-outline-success my-3 btn-lg w-25 disabled">outlook </button>
            <br><a href="/user/signup"><button class="btn btn-outline-dark mx-3 my-3 btn-lg w-50">Sign-up</button></a>
        script(src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" crossorigin="anonymous" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN") 
        script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous") 

